<html>
	<head>
	</head>
		<body style='background: #303030; margin-left: 10%; margin-right: 10%; color: white;'>
		<div style='position: relative;'>
				<img src='/assets/static/bcdc-logo.png' style='width: 25%;' />
				<br />
				<p>
					Thank you for your support.  We are currently closed for business.
					We will probably re-open to sell our handguard grip tape accessories
					by January.  We <i>might</i> resume selling guns and accessories by
					2019.
				</p>
			</div>
		</div>
		<p>
		</p>
	</body>
</html>
